@import '../../variables';

.navbar-space {
	padding-top: 100px;
}

.navbar {
	max-width: 880px;
	width: 90%;
	margin: 0 auto;
	border-top: $border;
	border-bottom: $border;
	display: flex;
	justify-content: space-between;
	padding: 10px 0;

	&__icons {
		display: flex;
		align-items: center;
		color: #017c37;
		cursor: pointer;
		padding-left: 10px;
	}

	&__name {
		padding-left: 5px;
	}
}

.active {
	color: $activedColor;
}

.wrap {
	position: relative;
	width: 90%;
	max-width: 900px;
	min-height: 100%;
	margin: 40px auto;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.card {
	padding: 1%;
	margin-bottom: 10px;
	text-align: center;
	float: left;
	width: 100%;
	margin: 25px 0 0;
	transition: all ease 0.4s;

	img {
		border: 2px solid #000;
		margin-bottom: 20px;
	}

	&__description {
		padding: 0 8px;
		// float: left;
		// width: 70%;
		h3 {
			color: #404040;
			padding-bottom: 5px;
		}

		p {
			color: red;
			color: lighten($black, 40%);
			font-weight: bold;
		}
	}
}

.grid {
	position: relative;
	width: 25%;
	padding-bottom: 25px;

	img {
		float: left;
		width: 100%;
	}
}

.list {
	float: left;
	overflow: hidden;
	border-bottom: $border;
	width: 100%;
	padding-bottom: 25px;

	img {
		max-width: 30%;
		float: left;
	}
}

.spinner {
	text-align: center;
	padding-top: 40vh;
	// transition: 1s;

	&__icon {
		font-size: 7rem;
		// transform: rotate(360deg) translateZ(0);
		animation: spin 1s linear infinite;
	}
}

@keyframes spin {
	100% {
		-webkit-transform: rotate(360deg);
	}
}

@include desktop() {
	.lead {
		width: 100%;
	}
	img {
		max-width: 100%;
	}
	.grid {
		width: 33%;
	}
}

@include tablet() {
	.lead {
		width: 100%;
	}
	img {
		max-width: 100%;
	}
	.grid {
		width: 50%;
	}

	.list {
		position: relative;
		width: 50%;
		border-bottom: none;

		.lead {
			width: 100%;
		}

		img {
			max-width: 100%;
		}
	}

	.show {
		display: none;
	}
}

@include mobile {
	.lead {
		width: 100%;
	}
	img {
		max-width: 100%;
	}

	.grid {
		width: 100%;
		border-bottom: $border;
	}

	.list {
		width: 100%;
		border-bottom: $border;

		img {
			width: 100%;
		}
	}
}
